<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.service.project.dao.SkProjectMapper" >
  <resultMap id="BaseResultMap" type="com.niit.service.project.pojo.SkProject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="operation_desc" property="operationDesc" jdbcType="VARCHAR" />
    <result column="cover_img" property="coverImg" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="fav_count" property="favCount" jdbcType="INTEGER" />
    <result column="likes_count" property="likesCount" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_top" property="isTop" jdbcType="INTEGER" />
    <result column="is_recommnd" property="isRecommnd" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, url, view_count, updatetime, comments, operation_desc, cover_img, category_id, 
    fav_count, likes_count, status, is_top, is_recommnd, user_id, user_name
  </sql>
  <!-- 查询某个用户下的作品 -->
  <select id="selectProjectByUserId" resultMap="BaseResultMap">
    select * from sk_project where user_id = #{userId}
  </select>

  <!--  作品分类 -->
  <select id="likeSelectProjectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sk_project
    <where>
      <if test="categoryId!=null and categoryId!=''">
        and category_id = #{categoryId}
      </if>
      <if test="status!=null and status!='' or 0 == status ">
        and status = #{status}
      </if>
      <if test="title!=null and title!=''">
        AND title  like CONCAT('%',#{title},'%')
      </if>
    </where>
    <if test="orderBy=='top'">
      ORDER BY is_top DESC
    </if>
    <if test="orderBy=='recommnd'">
      ORDER BY is_recommnd DESC
    </if>
    <if test="orderBy=='likeCounts'">
      ORDER BY likes_count DESC
    </if>
    <if test="orderBy=='updateTime'">
      ORDER BY updatetime DESC
    </if>
    <if test="orderBy==null||orderBy==''">
      ORDER BY is_recommnd DESC
    </if>


  </select>
  <!--  分页模糊查询作品 -->
  <select id="likeSelectProjectByTitle" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sk_project where  title  like CONCAT('%',#{arg1},'%')
    <if test="arg0!=null and arg0!='' or 0 == arg0 ">
      and status = #{arg0}
    </if>
  </select>
  <!-- 批量审核作品 -->
  <update id="updateMoreProject" parameterType="java.util.List">
    update sk_project set status = 1
    where id in
    <foreach collection="list" item="id" open="("
             separator="," close=")">
      #{id}
    </foreach>
  </update>
  <!-- 查询所有作品 -->
    <select id="selectAllProject" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from sk_project
        <where>
            <if test="status!=null and status!='' or 0 == status ">
                status = #{status}
            </if>
        </where>
    </select>
  <!-- 批量删除作品 -->
  <delete id="deleteMoreProject" parameterType="java.util.List">
    delete from sk_project where id in
    <foreach collection="list" item="id" open="("
             separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <!-- 按照时间或点赞数或浏览量查询 order排序 status为1 或 status为0 -->
  <select id="selectByCategoryId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sk_project
    where category_id = #{category_id}
    <if test="status!=null and status!='' or 0 == status ">
      and status = #{status}
    </if>
    <if test="likes_count!=null and likes_count !='' ">
      order by likes_count desc
    </if>
    <if test="view_count!=null and view_count !='' ">
      order by view_count desc
    </if>
    <if test="updatetime!=null and updatetime !='' ">
      order by updatetime desc
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sk_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sk_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.niit.service.project.pojo.SkProject" >
    insert into sk_project (id, title, url, 
      view_count, updatetime, comments, 
      operation_desc, cover_img, category_id, 
      fav_count, likes_count, status, 
      is_top, is_recommnd, user_id, user_name)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{viewCount,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, #{comments,jdbcType=VARCHAR}, 
      #{operationDesc,jdbcType=VARCHAR}, #{coverImg,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{favCount,jdbcType=INTEGER}, #{likesCount,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{isTop,jdbcType=INTEGER}, #{isRecommnd,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{userName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.niit.service.project.pojo.SkProject" >
    insert into sk_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="operationDesc != null" >
        operation_desc,
      </if>
      <if test="coverImg != null" >
        cover_img,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="favCount != null" >
        fav_count,
      </if>
      <if test="likesCount != null" >
        likes_count,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="isRecommnd != null" >
        is_recommnd,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="operationDesc != null" >
        #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="coverImg != null" >
        #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="favCount != null" >
        #{favCount,jdbcType=INTEGER},
      </if>
      <if test="likesCount != null" >
        #{likesCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=INTEGER},
      </if>
      <if test="isRecommnd != null" >
        #{isRecommnd,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.niit.service.project.pojo.SkProject" >
    update sk_project
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="operationDesc != null" >
        operation_desc = #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="coverImg != null" >
        cover_img = #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="favCount != null" >
        fav_count = #{favCount,jdbcType=INTEGER},
      </if>
      <if test="likesCount != null" >
        likes_count = #{likesCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=INTEGER},
      </if>
      <if test="isRecommnd != null" >
        is_recommnd = #{isRecommnd,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.niit.service.project.pojo.SkProject" >
    update sk_project
    set title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      comments = #{comments,jdbcType=VARCHAR},
      operation_desc = #{operationDesc,jdbcType=VARCHAR},
      cover_img = #{coverImg,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      fav_count = #{favCount,jdbcType=INTEGER},
      likes_count = #{likesCount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_top = #{isTop,jdbcType=INTEGER},
      is_recommnd = #{isRecommnd,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>