<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.service.project.dao.SkProjectCommentsMapper" >
  <resultMap id="BaseResultMap" type="com.niit.service.project.pojo.SkProjectComments" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, addtime, project_id, status, user_id, user_name
  </sql>
  <!-- 查询所有留言 -->
  <select id="selectAllProjectComment" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sk_project_comments
    <where>
      <if test="projectId!=null and projectId!=''">
        project_id = #{projectId}
      </if>
    </where>
  </select>
  <!-- 批量删除作品留言 -->
  <delete id="deleteMoreProjectComment" parameterType="java.util.List">
    delete from sk_project_comments where id in
    <foreach collection="list" item="id" open="("
             separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <!-- 批量审核作品留言 -->
  <update id="updateMoreProjectComment" parameterType="java.util.List">
    update sk_project_comments set status = 1
    where id in
    <foreach collection="list" item="id" open="("
             separator="," close=")">
      #{id}
    </foreach>
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sk_project_comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sk_project_comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.niit.service.project.pojo.SkProjectComments" >
    insert into sk_project_comments (id, content, addtime, 
      project_id, status, user_id, user_name)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, 
      #{projectId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{userName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.niit.service.project.pojo.SkProjectComments" >
    insert into sk_project_comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.niit.service.project.pojo.SkProjectComments" >
    update sk_project_comments
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.niit.service.project.pojo.SkProjectComments" >
    update sk_project_comments
    set content = #{content,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      project_id = #{projectId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>